body
 {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #d3d1c9;
  font-family: "Jost", sans-serif;
  font-family: "Noto Serif", serif;
  font-family: "Poppins", sans-serif;
}
#root {
  height: 100%;
  margin: 0;
  width: 100%;
}
.textContain {
  height: 100%;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.75);
  z-index: -1;
  .backgroundText {
    font-size: 200px;
    color: white;
  }
}
